*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;


}

header{
    padding: 1.2rem;
    background-color: black;
    height: 100vh;
    background-image: url(asset/back\ net.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0%;
    background-image: linear-gradient();
    /* background-image: linear-gradient(to top left, #000000, #ffffff), linear-gradient(to top right, #000000, #ffffff), linear-gradient(to bottom right, #000000, #ffffff), linear-gradient(to bottom left, #000000, #ffffff), url(asset/back\ net.jpg); */
    background-image: linear-gradient(to top right, rgba(0, 0, 0,1 ), rgba(255, 255, 255, 0)), url(asset/back\ net.jpg);
    
    background-size: cover; /* Adjust as needed */
    
}


  

.heading_content{
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    margin: 1rem;
    font-size: 1rem;
    font-weight: 200;
}

.movies_list{
    margin: 1rem;
    font-size: 1.8rem;
    font-weight: 800;
}

.parent_container{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 50%;
}

body {
    background-color: #333;
    color: whitesmoke;

}

.logo{
    width: 8rem;
}

.btn {

    background-color: red;
    color: #ffff;
    padding: 0.4rem;
    border-radius: 0.2rem;
    outline: none;
    border: none;
    
}
nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}